version: "3.9"
services:

  web:
    build:
      context: ./frontend
    ports:
      - "3000:3000"

  api:
    build:
      context: ./backend
    ports:
      - "4000:4000"

  py-service:
    build:
      context: ./python-service
    ports:
      - "5000:5000"
